:root {
    --main-color: #F16622;
    --secondary-color: #F16622;
    --background-color: #fff;
    --font-color: #000;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Hellix', sans-serif;
}


@font-face {
  font-family: 'Hellix';
  src: url('../../../assets/fonts/Hellix-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix';
  src: url('../../../assets/fonts/Hellix-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}



img#leftbigimg {
    width: 100%;
    height: 94vh;
    object-fit: cover;
    border-radius: 25px;
}

.row {
    padding: 15px 15px;
    background: var(--background-color);
    border-radius: 20px;
}



.box {
    background: var(--main-color);
    padding: 14px 27px;
}


.container-fluid {
    padding: 0 !important;
}

h1,h2,h3,h4,h5,h6,p,a,* :not(i) {
    font-family: Hellix !important;
}

h2 {
    font-size: 1.8vw !important;
    font-weight: 700 !important;
    margin-bottom: 13px !important;
}

h3 {
    font-size: 1.5vw !important;
    font-weight: 900 !important;
}
.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
body .btn-primary {
    background: var(--secondary-color);
    width: 100%;
    padding: 9px 14px;
    border-radius: 29px !important;
    font-size: 20px;
    font-weight: 500;
    border-color: var(--secondary-color);
    margin: 20px 0px 10px;
}

body .btn-primary:hover {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.options  .option {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.options .option img {
    background: #F8F8F8;
    width: 130px;
    padding: 40px 38px;
    border-radius: 12px;
    border: 2px solid #00000000;
}

.options .option span {
    font-size: 20px;
}


.options .option.selected img {
    border-color: var(--secondary-color);
    background: #0d6efd17;
}



.img-button-box img:not(.line-icon) {
    width: 400px;
    margin: 0 auto;
    filter: drop-shadow(2px 3px 5px #ccc);
    transition: 0.5s;
    cursor: pointer;
}

.img-button-box img.line-icon {
    filter: none;
    width: 70%;
    margin: 13px auto;
}

.img-button-box img:hover:not(.line-icon) {filter: drop-shadow(2px 3px 5px var(--main-color));}

p.bottom-link-txt {
    margin: 24px 0px 0px;
    font-size: 19px;
}

p.bottom-link-txt a {
    text-decoration: none;
    font-weight: 600;
    color: var(--main-color);
}


.form .form-group {
      margin-bottom: 20px;
    }

    .form label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
      text-align: left;
    }

    .form .input-wrapper {
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 8px;
      padding: 14px 15px;
    }

    .form .input-wrapper i {
      color: var(--main-color);
      margin-right: 10px;
      font-size: 17px;
    }

    .form .input-wrapper input {
      border: none;
      background: transparent;
      outline: none;
      flex: 1;
      font-size: 16px;
    }
form.signup-form.form {
    width: 80vw;
    min-width: 280px;
    max-width: 550px;
}

.forget-password a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    float: right;
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
}




  




    .otp-inputs {
     display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 15px;
    }

    .otp-inputs input {
      width: 45px;
      height: 50px;
      font-size: 24px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 8px;
      outline: none;
      font-weight: 600;
      color: var(--secondary-color);
    }

    .timer {
      margin-bottom: 20px;
      color: #333;
      font-size: 14px;
    }


    .resend {
      margin-top: 15px;
      font-size: 14px;
    }
    a.disabled {
        pointer-events: none;
        filter: grayscale(1);
    }
    .resend a {
      text-decoration: none;
      font-weight: bold;
    }
a {
    color: var(--secondary-color) !important;
}
    .resend a:hover {
      text-decoration: underline;
    }

    .pass-box {
    width: 100%;
    display: flex;
    align-items: center;
}
